{% extends 'base.html' %}

{% block title %}Liste des Produits dans le Panier{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Liste des Produits dans le Panier</h1>
    <a href="{% url 'cartproduct-create' %}" class="btn btn-success mb-3">Ajouter un Produit</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produit</th>
                <th>Panier</th>
                <th>Poids</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cartproduct in cartproducts %}
            <tr>
                <td>{{ cartproduct.id }}</td>
                <td>{{ cartproduct.product.name }}</td>
                <td>{{ cartproduct.cart.name }}</td>
                <td>{{ cartproduct.weight }}</td>
                <td>{{ cartproduct.date_from }}</td>
                <td>{{ cartproduct.date_to }}</td>
                <td>
                    <a href="{% url 'cartproduct-update' cartproduct.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                    <a href="{% url 'cartproduct-delete' cartproduct.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
