{% extends 'base.html' %}

{% block title %}Supprimer Produit-Panier{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Supprimer le Produit du Panier</h1>
    <p>Êtes-vous sûr de vouloir supprimer l'association suivante ?</p>
    <ul>
        <li><strong>Produit :</strong> {{ object.product.name }}</li>
        <li><strong>Panier :</strong> {{ object.cart_product.name }}</li>
        <li><strong>Pondération :</strong> {{ object.weight }}</li>
        <li><strong>Date de Début :</strong> {{ object.date_from }}</li>
        <li><strong>Date de Fin :</strong> {{ object.date_to }}</li>
    </ul>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmer</button>
        <a href="{% url 'cartproducts-list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
