{% extends 'base.html' %}

{% block title %}Liste des Produits dans les Paniers{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Liste des Produits dans les Paniers</h1>
    <a href="{% url 'cartproduct-create' %}" class="btn btn-success mb-3">Ajouter un Produit au Panier</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Panier</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cartproduct in object_list %}
            <tr>
                <td>{{ cartproduct.cart.name }}</td>
                <td>{{ cartproduct.product.name }}</td>
                <td>{{ cartproduct.quantity }}</td>
                <td>{{ cartproduct.total_price }}</td>
                <td>
                    <a href="{% url 'cartproduct-update' cartproduct.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                    <a href="{% url 'cartproduct-delete' cartproduct.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
