{% extends 'base.html' %}

{% block title %}Supprimer Commune{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Supprimer la Commune</h1>
    <p>Êtes-vous sûr de vouloir supprimer la commune suivante ?</p>
    <ul>
        <li><strong>Code :</strong> {{ object.code }}</li>
        <li><strong>Nom :</strong> {{ object.name }}</li>
        <li><strong>Moughataa :</strong> {{ object.moughataa.label }}</li>
    </ul>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmer</button>
        <a href="{% url 'commune-list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
