{% extends 'base.html' %}

{% block title %}Liste des Produits dans les Paniers{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Liste des Produits dans les Paniers</h1>
    <a href="{% url 'partproducts-create' %}" class="btn btn-success mb-3">Ajouter un Produit au Panier</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Panier</th>
                <th>Pondération</th>
                <th>Date de Début</th>
                <th>Date de Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for part in object_list %}
            <tr>
                <td>{{ part.product.name }}</td>
                <td>{{ part.cart_product.name }}</td>
                <td>{{ part.weight }}</td>
                <td>{{ part.date_from }}</td>
                <td>{{ part.date_to }}</td>
                <td>
                    <a href="{% url 'partproducts-update' part.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                    <a href="{% url 'partproducts-delete' part.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
