{% extends "base.html" %}

{% block content %}
<h1>Liste des Produits</h1>

<!-- Boutons d'action -->
<div class="mb-3">
    <a href="{% url 'product-create' %}" class="btn btn-success">Créer un produit</a>
    <a href="{% url 'export_products' %}" class="btn btn-info">Exporter en Excel</a>
</div>

<!-- Formulaire pour l'importation de fichier Excel (dans la même page) -->
<form method="post" enctype="multipart/form-data" action="{% url 'import_products' %}" class="mb-4">
    {% csrf_token %}
    <div class="input-group">
        <input type="file" name="excel_file" class="form-control" required>
        <button type="submit" class="btn btn-primary">Importer</button>
    </div>
</form>

<!-- Affichage des messages de succès ou d'erreur -->
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Unité de mesure</th>
            <th>Type de produit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in object_list %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.unit_measure }}</td>
            <td>{{ product.product_type.label }}</td>
            <td>
                <a href="{% url 'product-update' product.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                <a href="{% url 'product-delete' product.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
