{% extends "base.html" %}

{% block content %}
<h1>Liste des Produits</h1>

<a href="{% url 'product-create' %}" class="btn btn-success mb-3">Créer un produit</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Unité de mesure</th>
            <th>Type de produit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in object_list %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.unit_measure }}</td>
            <td>{{ product.product_type.label }}</td>
            <td>
                <a href="{% url 'product-update' product.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                <a href="{% url 'product-delete' product.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
