{% extends "base.html" %}

{% block content %}
<h1>Liste des Types de Produits</h1>

<!-- Boutons d'action -->
<div class="mb-3">
    <a href="{% url 'producttype-create' %}" class="btn btn-success">Créer un Type de Produit</a>
    <a href="{% url 'export_producttypes' %}" class="btn btn-info">Exporter en Excel</a>
</div>

<!-- Formulaire pour l'importation de fichier Excel -->
<form method="post" enctype="multipart/form-data" action="{% url 'import_producttypes' %}" class="mb-4">
    {% csrf_token %}
    <div class="input-group">
        <input type="file" name="excel_file" class="form-control" required>
        <button type="submit" class="btn btn-primary">Importer</button>
    </div>
</form>

<!-- Affichage des messages de succès ou d'erreur -->
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Label</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for producttype in object_list %}
        <tr>
            <td>{{ producttype.id }}</td>
            <td>{{ producttype.code }}</td>
            <td>{{ producttype.label }}</td>
            <td>{{ producttype.description }}</td>
            <td>
                <a href="{% url 'producttype-update' producttype.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                <a href="{% url 'producttype-delete' producttype.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
