{% extends "base.html" %}

{% block content %}
<h1>Liste des Prix des Produits</h1>

<!-- Boutons d'action -->
<div class="mb-3">
    <a href="{% url 'productprice-create' %}" class="btn btn-success">Ajouter un Prix</a>
    <a href="{% url 'export_productprices' %}" class="btn btn-info">Exporter en Excel</a>
</div>

<!-- Formulaire pour l'importation de fichier Excel -->
<form method="post" enctype="multipart/form-data" action="{% url 'import_productprices' %}" class="mb-4">
    {% csrf_token %}
    <div class="input-group">
        <input type="file" name="excel_file" class="form-control" required>
        <button type="submit" class="btn btn-primary">Importer</button>
    </div>
</form>

<!-- Affichage des messages de succès ou d'erreur -->
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Produit</th>
            <th>Prix</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for productprice in object_list %}
        <tr>
            <td>{{ productprice.id }}</td>
            <td>{{ productprice.product.code }} - {{ productprice.product.name }}</td>
            <td>{{ productprice.value }}</td>
            <td>{{ productprice.date_from|date:"d/m/Y" }}</td>
            <td>{{ productprice.date_to|date:"d/m/Y" }}</td>
            <td>
                <a href="{% url 'productprice-update' productprice.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                <a href="{% url 'productprice-delete' productprice.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
