{% extends 'base.html' %}

{% block title %}Liste des Wilayas{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Liste des Wilayas</h1>
    <a href="{% url 'wilaya-create' %}" class="btn btn-success mb-3">Créer une nouvelle Wilaya</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for wilaya in object_list %}
            <tr>
                <td>{{ wilaya.code }}</td>
                <td>{{ wilaya.name }}</td>
                <td>
                    <a href="{% url 'wilaya-update' wilaya.pk %}" class="btn btn-primary btn-sm">Modifier</a>
                    <a href="{% url 'wilaya-delete' wilaya.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
